
.top{
  background-image: url(img/main-vsual-nontitle.png);
  background-size: cover;
  height:  400px;
  text-align:center;
}

.text1{
  padding-top: 90px;
}

.top h1{
  line-height: 20px;
}

.top h5{
  line-height: 5px;
}

.text2{
  padding-top: 20px;
}

header{
  height: 30px;
  width: 100%;
}

.header-left{
}

.header-left h4{
  float: left;
}

.header-right a{
  color: black;
  text-decoration: none;
  float: right;

}

.second h2{
  text-align:center;
  padding-top: 20px;
}

.description img{
  float: left;
  width: 50%;
  padding-right: 30px;
  padding-left: 50px;
}

.description p{
  padding-right: 100px;
}